/* styles.css */
*{
    background-color: #c7c7c7;
    font-family: monospace;
}
.header {
    width: 400px;
    margin: auto;
    text-align: center;

}
.image {
    text-align: center;
}
.btnwrap {
    text-align: center;
}
.main {
    color: antiquewhite;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}